language: python
matrix:
    include:
        - os: linux
          python: 2.7
        - os: linux
          python: pypy
        - os: linux
          python: 3.5
        - os: linux
          python: 3.6
        - os: linux
          python: 3.6
          env: ZEO_MTACCEPTOR=1
        - os: linux
          python: 3.6
          env: ZEO_MSGPACK=1 ZEO_MTACCEPTOR=1
        - os: linux
          python: 3.7
          env: ZEO_MTACCEPTOR=1
          dist: xenial
        - os: linux
          python: 3.7
          env: ZEO_MSGPACK=1 ZEO_MTACCEPTOR=1
          dist: xenial
        - os: linux
          python: pypy3
          env: ZEO_MTACCEPTOR=1
        - os: linux
          python: pypy3
          env: ZEO_MSGPACK=1 ZEO_MTACCEPTOR=1
        - os: linux
          python: 2.7
          env: ZEO_MSGPACK=1
        - os: linux
          python: 2.7
          env: ZEO4_SERVER=1
        - os: linux
          python: 3.5
          env: ZEO4_SERVER=1
        - os: linux
          python: 3.5
          env: BUILOUT_OPTIONS=extra=,uvloop
install:
    - pip install zc.buildout
    - buildout $BUILOUT_OPTIONS
cache:
  directories:
    - eggs
script:
    - bin/test -vv -j3
notifications:
    email: false
